*{
    box-sizing: border-box;
}

body {
    background-image: url("landing.jpg");
}
.picture {
    position: absolute;
    transform: translate(-50%,-30%);
    left:50%;
    top:30%;
}
.icon i {
    padding-left: 40px;
    padding-top: 30px;
    color: white;
    font-size: 35px;
}