*{
    box-sizing: border-box;
}

body {
    background-image: url("landing.jpg");
}
.picture {
    position: absolute;
    transform: translate(-50%,-30%);
    left:50%;
    top:30%;
}
.icon i {
    padding-left: 40px;
    padding-top: 30px;
    color: white;
    font-size: 35px;
}
.text h2 {
margin-top: 350px;
margin-left: 550px;
color:rgba(255,255,255,0.5);
letter-spacing: 1.5px;
}